.input-size {
    min-width: 280px;
}

@media only screen and (max-width: 480px) {
  .input-size {
    min-width: 0;
    max-width: 96%;
  }

  #mobile-border {
    border-right: none !important;
  }
} 

.submit-button {
    color: white;
    background-color: #e33d3d;
    border-radius: 8px;
    border-width: 0.5px;
    width: 150px;
    height: 40px;
    margin-top: 20px;
}

.sign-up-stuff {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

.signup-input {
    max-width: 1000px;
    width: 30%;
    justify-self: center;
    margin: 15px;
}

