.navbar-quizapp {
    justify-content: space-between;
    height: 20px;
    margin-top:0;
    width: 100%;
    top: 0;
    z-index: 2000;
  }

.navbar-logo img{
    width: 10mm;
    margin-right: 6px;
}
